<div class="flex flex-col items-center justify-center w-screen bg-gray-50">
  <div class="w-1/2 md:w-1/4 bg-white border border-gray-200 rounded-lg shadow-md p-4 my-8">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), builder: ComponentBuilder, data: { turbo: false }) do |f| %>

      <div class="my-6">
        <h1 class="text-gray-900 font-semibold text-center">
          <%= t(".page_title") %>
        </h1>
      </div>

      <%= render Application::ErrorSummaryComponent.new(record: resource) %>

      <div class="mb-6">
        <%= f.fields_for :profile, resource.build_profile do |profile_fields| %>
          <div class="mb-6">
            <%= profile_fields.text_field_component(:display_name, type: "display_name", id: "display_name", placeholder: "Jane Doe") do |input| %>
              <% input.label { t(".display_name") } %>
            <% end %>
          <div>
          <div class="mb-6">
            <%= profile_fields.text_field_component(:username, type: "username", id: "username", placeholder: "janedoe") do |input| %>
              <% input.label { t(".username") } %>
            <% end %>
          <div>
        <% end %>
      <div>

      <div class="mb-6">
        <%= f.text_field_component(:email, type: "email", id: "email", placeholder: "janedoe@email.com") do |input| %>
          <% input.label { t(".email") } %>
        <% end %>
      </div>

      <div class="mb-6">
        <%= f.text_field_component(:password, type: "password", id: "password") do |input| %>
          <% input.label { t(".password") } %>
        <% end %>
      </div>

      <div class="mb-6">
        <%= f.text_field_component(:password_confirmation, type: "password", id: "password_confirmation") do |input| %>
          <% input.label { t(".password_confirmation") } %>
        <% end %>
      </div>

      <div class="actions">
        <%= f.button_component t(".sign_up") %>
      </div>
    <% end %>
  </div>

  <div>
    <%= render(Action::LinkComponent.new(color: :blue, href: user_session_path)) { t(".sign_in") } %>
  </div>
</div>
