<div class="container mx-auto flex justify-center items-center mt-8">
  <div class="bg-white p-4 sm:w-1/2 md:w-1/3 lg:w-1/4">
    <%= render Users::AvatarComponent.new(user: user) %>

    <h1 class="text-xl font-bold text-center"><%= user.profile.display_name %></h1>
    <p class="text-gray-600 text-center">@<%= username %></p>
    <p class="text-gray-700 text-center mt-4"><%= user.profile.bio %></p>

    <%= render Users::ProfileStatsComponent.new(
      stats: [
        { title: "Postagens", count: user.posts.count },
        { title: "Seguidores", count: user.followers.count },
        { title: "Seguindo", count: user.following.count }
      ]
    ) %>

    <div class="flex justify-center">
      <% if allowed_to_edit? %>
        <%= link_to I18n.t("users.show_page.edit"), edit_profile_path, class: "text-gray-900 text-center bg-gray-100 font-semibold py-2 px-4 rounded-full mt-4 block mx-auto" %>
      <% end %>

      <% if current_user&.following?(user) %>
        <%= button_to I18n.t("users.show_page.following"), user_unfollow_path(username), { method: :delete, data: { turbo: false }, class: "bg-blue-500 hover:bg-blue-600 text-center text-white font-bold py-2 px-4 rounded-full mt-4 block mx-auto" } %>
      <% else %>
        <%= button_to I18n.t("users.show_page.follow"), user_follow_path(username), { data: { turbo: false }, class: "bg-blue-500 hover:bg-blue-600 text-center text-white font-bold py-2 px-4 rounded-full mt-4 block mx-auto" } %>
      <% end %>
    </div>
  </div>
</div>

<%= render Users::GalleryComponent.new(posts: user.posts) %>

<% if current_user.present? %>
  <%= render Application::NavbarComponent.new(current_user: current_user, current_controller: controller) %>
<% end %>
