<div class="flex flex-col items-center justify-center w-screen bg-gray-50">
  <div class="w-1/2 md:w-1/4 bg-white border border-gray-200 rounded-lg shadow-md p-4 my-8">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), builder: ComponentBuilder) do |f| %>
      <div class="my-6">
        <h1 class="text-gray-900 font-semibold text-center">Log in</h1>
      </div>

      <div class="mb-6">
        <%= f.text_field_component(:email, type: "email", id: "email") do |input| %>
          <% input.label { "Email" } %>
        <% end %>
      </div>

      <div class="mb-6">
        <%= f.text_field_component(:password, type: "password", id: "password") do |input| %>
          <% input.label { "Password" } %>
        <% end %>
      </div>

      <div class="actions">
        <%= f.button_component("Log in") %>
      </div>
    <% end %>
  </div>

  <div>
    <%= render(Action::LinkComponent.new(color: :blue, href: new_user_registration_path)) { "Sign up" } %>
  </div>
</div>
