<%# meta_tags %>
<div class="m-12">
  <%= form_for(post, builder: ComponentBuilder) do |f| %>
    <%= render(Form::LayoutComponent.new) do |layout| %>
      <% layout.header { t("posts.new_page.new_post") } %>

      <%= render Application::ErrorSummaryComponent.new(record: post) %>

      <%= f.file_field_component :image do |slot| %>
        <% slot.label { t("posts.new_page.image") } %>
      <% end %>

      <%= f.text_field_component(:subtitle, type: "text", id: "subtitle") do |input| %>
        <% input.label { t("posts.new_page.subtitle") } %>
      <% end %>

      <%= f.button_component t("posts.new_page.create_post") %>
    <% end %>
  <% end %>

  <%= render Application::NavbarComponent.new(current_user: current_user, current_controller: controller) %>
</div>
